{% extends '_base.twig' %} {% block content %}
<div class="container">
    <div class="row bg-dark text-white">
        <div class="col-5">
            <!--
            <h1>Cars (2006)</h1>
            <ul class="list-unstyled">
                <li>1h 57min</li>
                <li> Animation, Comedy, Family </li>
                <li> Released: 28 July 2006 (UK)</li>
            </ul>-->
            <img class="img-fluid" src="/img/cars_2006.jpg" alt="Cars">
        </div>
        <div class="col">

            <h1>Cars (2006)</h1>
            <ul class="list-unstyled">
                <li>1h 57min</li>
                <li> Animation, Comedy, Family </li>
                <li> Released: 28 July 2006 (UK)</li>
            </ul>
            <!--
            <ul class="list-unstyled">
                <h2>Directors:</h2>
                <li>John Lasseter</li>
                <li>Joe Ranft</li>
            
            <h2>Directores:</h2>
            <p>John Lasseter, Joe Ranft</p>
            <h2>Cast:</h2>
            <p>Owen Wilson, Paul Newman, Bonnie Hunt, Larry The Cable Guy, Cheech Marin, Tony Shalhoub, Guido Quaroni, Jenifer
                Lewis, Paul Dooley, Michael Wallis, George Carlin, Katherine Helmond, John Ratzenberger, Joe Ranft, Michael
                Keaton</p>
             <ul class="list-unstyled">
                <h2>Cast:</h2>
                <li>Owen Wilson</li>
                <li>Paul Newman</li>
                <li>Bonnie Hunt</li>
                <li>Larry The Cable Guy</li>
                <li>Cheech Marin</li>
                <li>Tony Shalhoub</li>
                <li>Guido Quaroni</li>
                <li> Jenifer Lewis</li>
                <li>Paul Dooley</li>
                <li> Michael Wallis</li>
                <li>George Carlin</li>
                <li> Katherine Helmond</li>
                <li> John Ratzenberger</li>
                <li>Joe Ranft</li>
                <li> Michael Keaton</li>
            </ul>-->
        </div>
    </div>
    <div class="row">
        <div class="col bg-dark text-white">
            <h2>Directores:</h2>
            <p>John Lasseter, Joe Ranft</p>
            <h2>Cast:</h2>
            <p>Owen Wilson, Paul Newman, Bonnie Hunt, Larry The Cable Guy, Cheech Marin, Tony Shalhoub, Guido Quaroni, Jenifer
                Lewis, Paul Dooley, Michael Wallis, George Carlin, Katherine Helmond, John Ratzenberger, Joe Ranft, Michael
                Keaton
            </p>
        </div>
    </div>

    <div class="row bg-dark text-white">
        <div class="col">
            <h3>
                <p class="text-justify"> Famous racing car Lightning McQueen is on his way to the biggest race of his life when he has an accident
                    in Radiator Springs resulting in lots of damaged public property. To compensate for his actions he is
                    sentenced to community service. He tries everything to escape work but has to learn a new way of life
                    before he can leave and be back at the race tracks.
                </p>
            </h3>
        </div>

    </div>



    <div class="row bg-dark text-white">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">

                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uxx75HVd-F0" frameborder="0" allowfullscreen></iframe>

            </div>
        </div>
    </div>

    <div class="d-flex flex-row bg-warning text-white">
        <div class="p-2">
            External Links
        </div>
        <div class="p-2">
            <a href="http://www.imdb.com/title/tt0317219/">IMDb</a>
        </div>
        <div class="p-2">
            <a href="https://www.rottentomatoes.com/m/cars/">Rotten Tomatoes</a>
        </div>
        <div class="p-2">
            <a href="https://en.wikipedia.org/wiki/Cars_(film)">Wikipedia</a>

        </div>
    </div>
    <div class="row bg-dark text-white">
        <div class="col ">
            <h6>
                <p class="text-right ">Developed by David Castro</p>
            </h6>
        </div>
    </div>
</div>

{% endblock %}