{% extends '_base.twig' %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col p-4">
                <h1>Cars (2006);</h1>
                <p> Famous racing car Lightning McQueen is on his way to the biggest race of his life when he has an accident in
                    Radiator Springs resulting in lots of damaged public property. To compensate for his actions he is sentenced
                    to community service. He tries everything to escape work but has to learn a new way of life before he can
                    leave and be back at the race tracks.


                    <ul>
                            <li>1h 57min</li>
                            <li> Animation, Comedy, Family </li>
                            <li> 28 July 2006 (UK)</li>
                        </ul>
            
            
                
    <a href="another-page">another page</a></p>
            </div>
            <div class="col">

                    <ol>Directors:
                            <li>John Lasseter</li>
                            <li>Joe Ranft</li>
                        </ol>
                
                        <ol>Writers:
                            <li> John Lasseter </li>
                            <li>Joe Ranft </li>
                        </ol>
                
                        <ol>Cast:
                            <li>Owen Wilson</li>
                            <li>Paul Newman</li>
                            <li>Bonnie Hunt</li>
                            <li>Larry The Cable Guy</li>
                            <li>Cheech Marin</li>
                            <li>Tony Shalhoub</li>
                            <li>Guido Quaroni</li>
                            <li> Jenifer Lewis</li>
                            <li>Paul Dooley</li>
                            <li> Michael Wallis</li>
                            <li>George Carlin</li>
                            <li> Katherine Helmond</li>
                            <li> John Ratzenberger</li>
                            <li>Joe Ranft</li>
                            <li> Michael Keaton</li>
                        </ol>
                
                <img class="img-fluid" src="/img/cars_2006.jpg" alt="Cars">
            </div>
        </div>
    </div>
{% endblock %}